$color-background: #666;

$color-toolbar-background: #333;
$color-toolbar-text: #CCC;
$color-toolbar-border: #000;

$color-small-window-background: #AAA;
$color-small-window-text: #000;
$color-small-window-input: #FFF;
$color-small-window-button: #DDD;

$color-big-window-background: #333;
$color-big-window-border: #000;
$color-big-window-button: #444;
$color-big-window-input: #FFF;
$color-big-window-text: #000;

$color-message-border: #000;
$color-message-text: #000;