* {
    margin: 0;
    padding: 0;
//border: 1px solid red;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.site {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #666;
}

.content {
    display: table-row;
    width: 100%;
}


/*
---Toolbar---
 */

.toolbar {
    background-color: #333;
    height: 50px;
    width: 100%;
    display: table-row;
}

.toolbar__status, .toolbar__user-name, .toolbar__logout {
    display: inline-block;
}

.toolbar__user-name, .toolbar__logout {
    float: right;
}

.toolbar__status {
    color: #CCC;
    margin: 17px 20px;
}

.toolbar__user-name {
    margin: 5px 20px;
    color: #CCC;
}

.toolbar__logout {
    height: 50px;
    width: 100px;
    background-color: #333333;
    border: 0;
    border-left: 2px solid #000;
    color: #CCC;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

/*
---Login---
 */

.login {
    background: #AAA;
    display: block;
    margin: 20vh auto 0;
    width: 500px;
    text-align: center;
    padding: 10px 0 15px;
}

@media only screen and (max-height: 500px) {
    .login {
        margin-top: 0;
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .login {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
}

.login__login, .login__password, .login__run, .login__go-to-registration {
    display: block;
}

.login__password, .login__login {
    width: 80%;
    height: 25px;
    margin: 0 10%;
    outline: none;
}

.login__annotation {
    margin: 20px 0 0 10%;
    text-align: left;
}

.login__run {
    width: 150px;
    height: 50px;
    font-size: 30px;
    margin: 30px auto 20px auto;
    cursor: pointer;
    outline: none;
}

/*
---Registration---
 */

.registration {
    background: #AAA;
    display: block;
    margin: 20vh auto 0;
    width: 500px;
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-height: 600px) {
    .registration {
        margin-top: 0;
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .registration {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
}

.registration__login, .registration__name, .registration__password, .registration__run, .registration__go-to-registration {
    display: block;
}

.registration__password, .registration__login, .registration__name {
    width: 80%;
    height: 25px;
    margin: 0 10%;
    outline: none;
}

.registration__annotation {
    text-align: left;
    margin: 20px 0 0 10%;
}

.registration__run {
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin: 30px auto 20px auto;
    cursor: pointer;
    outline: none;
}

/*
---Chat---
 */

.chat {
    margin: 50px auto 0 auto;
    width: 60%;
    height: 80%;
    background-color: #FFF;
    display: table;
    border: 2px solid #000;
}

@media only screen and (max-width: 1200px) {
    .chat {
        width: 80%;
    }
}

@media only screen and (max-height: 800px) {
    .chat {
        height: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 800px) {
    .chat {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}


.chat__messages {
    background-color: #333;
    height: 100%;
    overflow-y: auto;
}

.chat__messages-container {
    background-color: #333;
    height: 100%;
    display: table-row;
}

.chat__bottom {
    display: table-row;
    background-color: #444;
}

.chat__new-message {
    width: 100%;
}

.chat__send-new-message, .chat__text-new-message {
    border: 0;
}

.chat__text-new-message {
    width: 100%;
    font-size: 20px;
    min-height: 40px;
    max-height: 140px;
    resize: vertical;
    background-color: #FFF;
    outline: none;
}

.chat__send-new-message, .chat__send-new-message :active {
    width: 130px;
    background-color: #444;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    outline: none;
}

/*
---Message---
 */

.message {
    border: 2px solid #000;
    padding: 5px;
}

.message__text {
    font-size: 15px;
}

.message__sender {
    text-align: right;
}

/*
---Скрытие в начале работы---
 */

/*.login {
    display: none;
}*/

.chat {
    display: none;
}

.registration, .toolbar__logout {
    display: none;
}