$font-toolbar-status: 16px;
$font-toolbar-username: 30px;
$font-toolbar-logout: 20px;

$font-small-window-title: 30px;
$font-small-window-annotation: 16px;
$font-small-window-input: 14px;
$font-small-window-button: 30px;
$font-small-window-go-to: 16px;

$font-big-window-input: 20px;
$font-big-window-button: 20px;

$font-message: 15px;